@page
@model Web.Pages.PostPage.CreateModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .ck-editor__editable {
        min-height: 200px !important;
    }
</style>
<script src="~/js/ckeditor/build/ckeditor.js"></script>
<link rel="stylesheet" href="~/js/chosen_v1.8.7/chosen.css" />
<link rel="stylesheet" href="~/css/profile.css" />
<div class="main-content" style="background: #C4CCFF">
    <div class="container-fluid pt-4">
        <div class="container">
            <div class="row pt-5">
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Create Post</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <h6 class="heading-small text-muted mb-4">Basic information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label asp-for="Post.Title" class="form-control-label"></label>
                                                <input asp-for="Post.Title" type="text" class="form-control form-control-alternative">
                                                <span asp-validation-for="Post.Title" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group focused">
                                                <label asp-for="Post.CategoryId" class="form-control-label"></label>
                                                <select asp-for="Post.CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group focused">
                                                <label asp-for="Post.LevelId" class="form-control-label"></label>
                                                <select asp-for="Post.LevelId" class="form-control" asp-items="ViewBag.Levels"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group focused">
                                                <label asp-for="Post.PostLocationsIds" class="form-control-label">Location</label>
                                                @Html.DropDownList("Post.PostLocationsIds", ViewBag.Locations as SelectList, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group focused">
                                                <label class="control-label">Skills</label>
                                                <select asp-for="Post.PostSkillsIds" class="chosen-select mb-3" asp-items="ViewBag.Skills"></select>
                                                <span asp-validation-for="Post.PostSkillsIds" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        <label asp-for="Post.Description" class="control-label"></label>
                                        <div id="editor">
                                        </div>
                                        <input id="postDescription" type="hidden" asp-for="Post.Description" class="form-control" />
                                        <span asp-validation-for="Post.Description" class="text-danger" id="ckeditor-warn"></span>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/chosen_v1.8.7/chosen.jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select").chosen({
                width: "100%"
            });
        });

        let externalEditor;
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                externalEditor = editor;
                editor.model.document.on('change:data', () => {
                    const data = editor.getData();
                    document.getElementById("postDescription").value = data;
                });
            })
            .catch(error => {
                console.error(error);
            });
        document.getElementById("formSubmit").addEventListener("click", (e) => {
            var message = document.getElementById("postDescription").value;
            if (!message.length) {
                document.getElementById("ckeditor-warn").innerHTML = 'You must enter description'
                e.preventDefault();
            }
        });
    </script>
}
